.row div.contacts-block {
  margin-top: 51px;
  position: relative;
}
.row div.contacts-block .vertical-line {
  position: absolute;
  width: 33px;
  height: 100%;
  background: #008080;
  border-radius: 16px;
}
.row div.contacts-block .ctx {
  margin: 16px 0;
  padding: 65px 42px;
  background-color: #ededed;
}
.row div.contacts-block .ctx h2,
.row div.contacts-block .ctx p {
  font-size: 13pt;
  margin-bottom: 44px;
}
.row div.contacts-block .ctx a {
  text-decoration: underline;
  color: #000;
}
.row div.contacts-block .ctx.map {
  margin: 16px 0;
  padding: 0;
}
.row:nth-child(2) .vertical-line,
.row:nth-child(4) .vertical-line {
  right: 0;
}
.row:nth-child(2) .ctx,
.row:nth-child(4) .ctx {
  text-align: right;
}
