.row
    div.contacts-block
        margin-top: 51px
        position relative
        .vertical-line
            position: absolute
            width 33px
            height: 100%
            background: teal
            border-radius 16px
        .ctx
            margin 16px 0
            padding 65px 42px
            background-color: #EDEDED
            h2,
            p
                font-size 13pt
                margin-bottom 44px
            a
                text-decoration: underline
                color: #000
        .ctx.map
            margin 16px 0
            padding 0
    &:nth-child(2) .vertical-line,
    &:nth-child(4) .vertical-line
        right: 0
        
    &:nth-child(2) .ctx,
    &:nth-child(4) .ctx
        text-align: right
