p {
  color: #000;
}
.fundraising {
  margin-top: 90px;
}
.fundraising .chart {
  transform: rotate(20deg);
  background: conic-gradient(#bfcece 0.1%, #4d4d4d 0);
  height: 366px;
  width: 366px;
  border: #ccc solid 23px;
  border-radius: 50%;
  float: left;
  padding-right: 20px;
}
.fundraising .anotation-chart {
  height: 110px;
  width: 100%;
}
.fundraising .anotation-chart .line {
  position: absolute;
  width: 420px;
  height: 4px;
  margin: 0 3px;
  top: 50px;
  background: #bebdbd;
}
@media (max-width: 1215px) {
  .fundraising .anotation-chart .line {
    display: none;
  }
}
.fundraising .anotation-chart p {
  text-align: center;
  width: 100%;
  height: 28px;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000;
}
.fundraising .anotation-chart:nth-child(1) .line {
  top: 15px;
  left: -160px;
}
.fundraising .anotation-chart:nth-child(2) .line {
  top: 120px;
  left: 0;
}
.fundraising:nth-child(2) div {
  height: 130px;
  border-radius: 65px;
  background: #fff7f5;
}
.fundraising:nth-child(7) {
  margin-top: 75px;
  height: 40px;
}
.fundraising:nth-child(7) p {
  width: 100%;
  border-radius: 30px;
  font-size: 26px;
  line-height: 30px;
  margin: 0;
  padding: 16px;
  background: #dfe7e7;
}
.fundraising:nth-child(8) .round,
.fundraising:nth-child(9) .round {
  width: 183px;
  max-width: 183px;
  flex: 0 0 183px;
  height: 184px;
  border: 10px solid #ececf0;
  box-sizing: border-box;
  border-radius: 50%;
}
.fundraising:nth-child(8) p,
.fundraising:nth-child(9) p {
  margin-left: 9px;
  font-size: 24px;
  line-height: 28px;
  color: #000;
}
.fundraising:nth-child(10) {
  margin-top: 20px;
}
.fundraising:nth-child(10) p {
  border-radius: 70px;
  background: #bfcece;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 29px 56px;
  color: #000;
}
.fundraising:nth-child(11) {
  margin-top: 20px;
}
.fundraising:nth-child(11) p {
  border-radius: 30px;
  background: #e1cecb;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 8px;
  color: #000;
}
.fundraising:nth-child(8) .round {
  display: flex;
  background: #42466d;
}
.fundraising:nth-child(8) .round .line {
  position: absolute;
  background: #fff;
  height: 14px;
  border-radius: 15px;
}
.fundraising:nth-child(8) .round .line:nth-child(1) {
  width: 87px;
  top: 44px;
  left: 48px;
}
.fundraising:nth-child(8) .round .line:nth-child(2) {
  width: 38px;
  top: 61px;
  left: 18px;
}
.fundraising:nth-child(8) .round .line:nth-child(3) {
  width: 87px;
  top: 85px;
  left: 48px;
}
.fundraising:nth-child(8) .round .line:nth-child(4) {
  width: 63px;
  top: 108px;
  left: 18px;
}
.fundraising:nth-child(9) .round {
  background: #b35047;
  padding: 56px 26px;
}
.fundraising:nth-child(9) .round .money {
  width: 117px;
  height: 53px;
  background: #fff;
}
.fundraising:nth-child(9) .round .money .zero {
  background: #b35047;
  border-radius: 50%;
  width: 28px;
  height: 38px;
}
.fundraising a {
  font-size: 24px;
  line-height: 28px;
  color: #000;
  padding: 18px 34px;
  background: #bfcece;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
}
.fundraising a:hover {
  background: rgba(191,206,206,0.314);
  transition: 0.3;
}
.fundraising .description {
  display: inline;
}
@media (min-width: 1215px) {
  .fundraising .description {
    display: none;
  }
}
.smalltext {
  margin-top: 9px;
}
.smalltext p {
  width: 100%;
  border-radius: 30px;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 16px;
}
