#header_08-08-2021 {
  background-color: #f5eae8;
}
#header_08-08-2021 ul li {
  background-size: cover;
}
#header_08-08-2021 ul li:nth-child(1),
#header_08-08-2021 ul li:nth-child(3) {
  position: absolute;
  width: 800px;
  height: 800px;
  z-index: 4;
}
#header_08-08-2021 ul li:nth-child(1) {
  top: 0;
  left: -20%;
}
#header_08-08-2021 ul li:nth-child(3) {
  bottom: 0;
  right: -200px;
}
#header_08-08-2021 ul li:nth-child(2) {
  transform: translate(0%, 0%);
  position: absolute;
  bottom: 0%;
  right: 30%;
  width: 200px;
  height: 195px;
  background-size: cover;
  opacity: 0.34;
  z-index: 2;
}
.scene-Elem {
  transform: translateY(var(--translateY));
  will-change: transform;
}
.layer {
  position: absolute;
}
