title-color = #E2CFCC
contentTitleHeight = 207px
titlemargin =47px
roundInsideSize=151px
roundPadding = ((contentTitleHeight - roundInsideSize )/2)- 16px
.contentTitle
    height contentTitleHeight
    width auto
    // background #5ff555
    text-align end
    h3  
        width 100%
        right titlemargin
        position absolute
        justify-content end
        text-align end
        top titlemargin
        font-size 16
        z-index 2
    .titleRound
        position absolute
        box-sizing border-box
        right 0% 
        width contentTitleHeight
        height contentTitleHeight
        border 16px title-color solid
        border-radius 50% 
        background none
        padding roundPadding
        opacity .3
        z-index 1
        .roundInside
            width roundInsideSize
            height roundInsideSize
            background title-color
            border-radius 50%
            